/* CONSTRUCTIVE TEMPLATE */
/* Version 1.0 */
/* http://themeforest.net/user/WebDesignPlanet/ */

/* STYLESHEET SECTIONS */
/* ------------------------ */
/* 1 - GENERAL SETTINGS */
/* 2 - CONTENT STYLING */
/* 3 - FOOTER */
/* 4 - CONTACT US FORM */
/* 5 - RESPONSIVE LAYOUTS */
/* ------------------------ */

/* 1 - GENERAL SETTINGS */

@font-face {
	font-family: 'BebasNeueRegular';
	src: url('../fonts/BebasNeue-webfont.eot');
	src: url('../fonts/BebasNeue-webfontd41d.eot?#iefix') format('embedded-opentype'),  url('../fonts/BebasNeue-webfont.woff') format('woff'),  url('../fonts/BebasNeue-webfont.ttf') format('truetype'),  url('../fonts/BebasNeue-webfont.svg#BebasNeueRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

#logozghdm {
	position: absolute;
	background-image: url(../img/zghdmlogo_reduced.png);
	width: 300px;
	margin-left: 333px;
	margin-top: 30px;
	height: 100px;
	background-size: contain;
	background-repeat: no-repeat;
}

body {
	background: #f1f1ee url(../img/page-bg.jpg) repeat;
	margin: 0; padding: 0;
	font-family: "Times New Roman", Times, serif;
	font-size: 11px;
	color: #665959;
	text-shadow: #eee 1px 1px 1px;
}

.header {
	background: #003144;
	min-height: 110px;
}


.header .logo .icon-email {
	height: 24px;
	width: 24px;
	background: url(../img/icon-email.png) no-repeat center;
	text-indent: -9999px;
	float: right;
	position: relative;
	opacity: 0.4;
	 -moz-transition: all 0.234s ease 0s;
}
.header .logo .icon-email:hover,
.header .logo .icon-email:focus,
.header .logo .icon-email:active {
	opacity: 1;
	outline: none;
}

.countdown {
	background: #002e42 url(../img/countdown-bg-blue.jpg) no-repeat center;
	font-family: "BebasNeueRegular", Arial, Helvetica, sans-serif;
	text-shadow: none;
	font-size: 72px;
	color: #fff;
	height: 220px;
	padding: 50px 0 0 0;
}

body.black .countdown {background: #000 url(../img/countdown-bg-black.jpg) no-repeat center;}
body.green .countdown {background: #1f4013 url(../img/countdown-bg-green.jpg) no-repeat center;}
body.grey .countdown {background: #111612 url(../img/countdown-bg-grey.jpg) no-repeat center;}
body.navyblue .countdown {background: #0c1e34 url(../img/countdown-bg-navyblue.jpg) no-repeat center;}
body.orange .countdown {background: #4f2401 url(../img/countdown-bg-orange.jpg) no-repeat center;}
body.purple .countdown {background: #350c2c url(../img/countdown-bg-purple.jpg) no-repeat center;}
body.red .countdown {background: #4e0a01 url(../img/countdown-bg-red.jpg) no-repeat center;}
body.yellow .countdown {background: #4e4303 url(../img/countdown-bg-yellow.jpg) no-repeat center;}

body.black .header {background: #333;}
body.green .header {background: #172811;}
body.grey .header {background: #040404;}
body.navyblue .header {background: #0b131c;}
body.orange .header {background: #23150a;}
body.purple .header {background: #1a0a17;}
body.red .header {background: #29110e;}
body.yellow .header {background: #29250c;}

.countdown .clock {
	width: 960px;
	margin: 0 auto;
	text-align: center;
}

.countdown .clock li {
	display: inline-block;
	width: 170px;
	height: 120px;
	margin: 0 15px;
	padding: 50px 0 0 0;
}

.countdown .clock li.days {
	background: url(../img/degrees.png) no-repeat top right;
}

.countdown .clock li.hours {
	background: url(../img/degrees.png) no-repeat top;
}

.countdown .clock li.seconds {
	background: url(../img/degrees.png) no-repeat;
}

/* SECONDS */

.countdown .clock li.seconds.s59 {background-position: -170px 0;}
.countdown .clock li.seconds.s58 {background-position: -340px 0;}
.countdown .clock li.seconds.s57 {background-position: -510px 0;}
.countdown .clock li.seconds.s56 {background-position: -680px 0;}
.countdown .clock li.seconds.s55 {background-position: -850px 0;}
.countdown .clock li.seconds.s54 {background-position: -1020px 0;}
.countdown .clock li.seconds.s53 {background-position: -1190px 0;}
.countdown .clock li.seconds.s52 {background-position: -1360px 0;}
.countdown .clock li.seconds.s51 {background-position: -1530px 0;}

.countdown .clock li.seconds.s50 {background-position: 0px -170px;}
.countdown .clock li.seconds.s49 {background-position: -170px -170px;}
.countdown .clock li.seconds.s48 {background-position: -340px -170px;}
.countdown .clock li.seconds.s47 {background-position: -510px -170px;}
.countdown .clock li.seconds.s46 {background-position: -680px -170px;}
.countdown .clock li.seconds.s45 {background-position: -850px -170px;}
.countdown .clock li.seconds.s44 {background-position: -1020px -170px;}
.countdown .clock li.seconds.s43 {background-position: -1190px -170px;}
.countdown .clock li.seconds.s42 {background-position: -1360px -170px;}
.countdown .clock li.seconds.s41 {background-position: -1530px -170px;}

.countdown .clock li.seconds.s40 {background-position: 0px -340px;}
.countdown .clock li.seconds.s39 {background-position: -170px -340px;}
.countdown .clock li.seconds.s38 {background-position: -340px -340px;}
.countdown .clock li.seconds.s37 {background-position: -510px -340px;}
.countdown .clock li.seconds.s36 {background-position: -680px -340px;}
.countdown .clock li.seconds.s35 {background-position: -850px -340px;}
.countdown .clock li.seconds.s34 {background-position: -1020px -340px;}
.countdown .clock li.seconds.s33 {background-position: -1190px -340px;}
.countdown .clock li.seconds.s32 {background-position: -1360px -340px;}
.countdown .clock li.seconds.s31 {background-position: -1530px -340px;}

.countdown .clock li.seconds.s30 {background-position: 0px -510px;}
.countdown .clock li.seconds.s29 {background-position: -170px -510px;}
.countdown .clock li.seconds.s28 {background-position: -340px -510px;}
.countdown .clock li.seconds.s27 {background-position: -510px -510px;}
.countdown .clock li.seconds.s26 {background-position: -680px -510px;}
.countdown .clock li.seconds.s25 {background-position: -850px -510px;}
.countdown .clock li.seconds.s24 {background-position: -1020px -510px;}
.countdown .clock li.seconds.s23 {background-position: -1190px -510px;}
.countdown .clock li.seconds.s22 {background-position: -1360px -510px;}
.countdown .clock li.seconds.s21 {background-position: -1530px -510px;}

.countdown .clock li.seconds.s20 {background-position: 0px -680px;}
.countdown .clock li.seconds.s19 {background-position: -170px -680px;}
.countdown .clock li.seconds.s18 {background-position: -340px -680px;}
.countdown .clock li.seconds.s17 {background-position: -510px -680px;}
.countdown .clock li.seconds.s16 {background-position: -680px -680px;}
.countdown .clock li.seconds.s15 {background-position: -850px -680px;}
.countdown .clock li.seconds.s14 {background-position: -1020px -680px;}
.countdown .clock li.seconds.s13 {background-position: -1190px -680px;}
.countdown .clock li.seconds.s12 {background-position: -1360px -680px;}
.countdown .clock li.seconds.s11 {background-position: -1530px -680px;}

.countdown .clock li.seconds.s10 {background-position: 0px -850px;}
.countdown .clock li.seconds.s9 {background-position: -170px -850px;}
.countdown .clock li.seconds.s8 {background-position: -340px -850px;}
.countdown .clock li.seconds.s7 {background-position: -510px -850px;}
.countdown .clock li.seconds.s6 {background-position: -680px -850px;}
.countdown .clock li.seconds.s5 {background-position: -850px -850px;}
.countdown .clock li.seconds.s4 {background-position: -1020px -850px;}
.countdown .clock li.seconds.s3 {background-position: -1190px -850px;}
.countdown .clock li.seconds.s2 {background-position: -1360px -850px;}
.countdown .clock li.seconds.s1 {background-position: -1530px -850px;}

.countdown .clock li.seconds.s0 {background-position: 0px 0px;}

/* MINUTES */

.countdown .clock li.minutes {
	background: url(../img/degrees.png) no-repeat;
}

.countdown .clock li.minutes.m59 {background-position: -170px 0;}
.countdown .clock li.minutes.m58 {background-position: -340px 0;}
.countdown .clock li.minutes.m57 {background-position: -510px 0;}
.countdown .clock li.minutes.m56 {background-position: -680px 0;}
.countdown .clock li.minutes.m55 {background-position: -850px 0;}
.countdown .clock li.minutes.m54 {background-position: -1020px 0;}
.countdown .clock li.minutes.m53 {background-position: -1190px 0;}
.countdown .clock li.minutes.m52 {background-position: -1360px 0;}
.countdown .clock li.minutes.m51 {background-position: -1530px 0;}

.countdown .clock li.minutes.m50 {background-position: 0px -170px;}
.countdown .clock li.minutes.m49 {background-position: -170px -170px;}
.countdown .clock li.minutes.m48 {background-position: -340px -170px;}
.countdown .clock li.minutes.m47 {background-position: -510px -170px;}
.countdown .clock li.minutes.m46 {background-position: -680px -170px;}
.countdown .clock li.minutes.m45 {background-position: -850px -170px;}
.countdown .clock li.minutes.m44 {background-position: -1020px -170px;}
.countdown .clock li.minutes.m43 {background-position: -1190px -170px;}
.countdown .clock li.minutes.m42 {background-position: -1360px -170px;}
.countdown .clock li.minutes.m41 {background-position: -1530px -170px;}

.countdown .clock li.minutes.m40 {background-position: 0px -340px;}
.countdown .clock li.minutes.m39 {background-position: -170px -340px;}
.countdown .clock li.minutes.m38 {background-position: -340px -340px;}
.countdown .clock li.minutes.m37 {background-position: -510px -340px;}
.countdown .clock li.minutes.m36 {background-position: -680px -340px;}
.countdown .clock li.minutes.m35 {background-position: -850px -340px;}
.countdown .clock li.minutes.m34 {background-position: -1020px -340px;}
.countdown .clock li.minutes.m33 {background-position: -1190px -340px;}
.countdown .clock li.minutes.m32 {background-position: -1360px -340px;}
.countdown .clock li.minutes.m31 {background-position: -1530px -340px;}

.countdown .clock li.minutes.m30 {background-position: 0px -510px;}
.countdown .clock li.minutes.m29 {background-position: -170px -510px;}
.countdown .clock li.minutes.m28 {background-position: -340px -510px;}
.countdown .clock li.minutes.m27 {background-position: -510px -510px;}
.countdown .clock li.minutes.m26 {background-position: -680px -510px;}
.countdown .clock li.minutes.m25 {background-position: -850px -510px;}
.countdown .clock li.minutes.m24 {background-position: -1020px -510px;}
.countdown .clock li.minutes.m23 {background-position: -1190px -510px;}
.countdown .clock li.minutes.m22 {background-position: -1360px -510px;}
.countdown .clock li.minutes.m21 {background-position: -1530px -510px;}

.countdown .clock li.minutes.m20 {background-position: 0px -680px;}
.countdown .clock li.minutes.m19 {background-position: -170px -680px;}
.countdown .clock li.minutes.m18 {background-position: -340px -680px;}
.countdown .clock li.minutes.m17 {background-position: -510px -680px;}
.countdown .clock li.minutes.m16 {background-position: -680px -680px;}
.countdown .clock li.minutes.m15 {background-position: -850px -680px;}
.countdown .clock li.minutes.m14 {background-position: -1020px -680px;}
.countdown .clock li.minutes.m13 {background-position: -1190px -680px;}
.countdown .clock li.minutes.m12 {background-position: -1360px -680px;}
.countdown .clock li.minutes.m11 {background-position: -1530px -680px;}

.countdown .clock li.minutes.m10 {background-position: 0px -850px;}
.countdown .clock li.minutes.m9 {background-position: -170px -850px;}
.countdown .clock li.minutes.m8 {background-position: -340px -850px;}
.countdown .clock li.minutes.m7 {background-position: -510px -850px;}
.countdown .clock li.minutes.m6 {background-position: -680px -850px;}
.countdown .clock li.minutes.m5 {background-position: -850px -850px;}
.countdown .clock li.minutes.m4 {background-position: -1020px -850px;}
.countdown .clock li.minutes.m3 {background-position: -1190px -850px;}
.countdown .clock li.minutes.m2 {background-position: -1360px -850px;}
.countdown .clock li.minutes.m1 {background-position: -1530px -850px;}

.countdown .clock li.minutes.m0 {background-position: 0px 0px;}

/* HOURS */

.countdown .clock li.hours {
	background: url(../img/degrees-h.png) no-repeat;
}

.countdown .clock li.hours.h0 {background-position: 0px 0px;}
.countdown .clock li.hours.h23 {background-position: -170px 0;}
.countdown .clock li.hours.h22 {background-position: -340px 0;}
.countdown .clock li.hours.h21 {background-position: -510px 0;}
.countdown .clock li.hours.h20 {background-position: -680px 0;}
.countdown .clock li.hours.h19 {background-position: -850px 0;}
.countdown .clock li.hours.h18 {background-position: 0px -170px;}
.countdown .clock li.hours.h17 {background-position: -170px -170px;}
.countdown .clock li.hours.h16 {background-position: -340px -170px;}
.countdown .clock li.hours.h15 {background-position: -510px -170px;}
.countdown .clock li.hours.h14 {background-position: -680px -170px;}
.countdown .clock li.hours.h13 {background-position: -850px -170px;}
.countdown .clock li.hours.h12 {background-position: -0px -340px;}
.countdown .clock li.hours.h11 {background-position: -170px -340px;}
.countdown .clock li.hours.h10 {background-position: -340px -340px;}
.countdown .clock li.hours.h9 {background-position: -510px -340px;}
.countdown .clock li.hours.h8 {background-position: -680px -340px;}
.countdown .clock li.hours.h7 {background-position: -850px -340px;}
.countdown .clock li.hours.h6 {background-position: -0px -510px;}
.countdown .clock li.hours.h5 {background-position: -170px -510px;}
.countdown .clock li.hours.h4 {background-position: -340px -510px;}
.countdown .clock li.hours.h3 {background-position: -510px -510px;}
.countdown .clock li.hours.h2 {background-position: -680px -510px;}
.countdown .clock li.hours.h1 {background-position: -850px -510px;}

/* DAYS */

.countdown .clock li.days.d59,.countdown .clock li.days.d60 {background-position: -170px 0;}
.countdown .clock li.days.d58 {background-position: -340px 0;}
.countdown .clock li.days.d57 {background-position: -510px 0;}
.countdown .clock li.days.d56 {background-position: -680px 0;}
.countdown .clock li.days.d55 {background-position: -850px 0;}
.countdown .clock li.days.d54 {background-position: -1020px 0;}
.countdown .clock li.days.d53 {background-position: -1190px 0;}
.countdown .clock li.days.d52 {background-position: -1360px 0;}
.countdown .clock li.days.d51 {background-position: -1530px 0;}

.countdown .clock li.days.d50 {background-position: 0px -170px;}
.countdown .clock li.days.d49 {background-position: -170px -170px;}
.countdown .clock li.days.d48 {background-position: -340px -170px;}
.countdown .clock li.days.d47 {background-position: -510px -170px;}
.countdown .clock li.days.d46 {background-position: -680px -170px;}
.countdown .clock li.days.d45 {background-position: -850px -170px;}
.countdown .clock li.days.d44 {background-position: -1020px -170px;}
.countdown .clock li.days.d43 {background-position: -1190px -170px;}
.countdown .clock li.days.d42 {background-position: -1360px -170px;}
.countdown .clock li.days.d41 {background-position: -1530px -170px;}

.countdown .clock li.days.d40 {background-position: 0px -340px;}
.countdown .clock li.days.d39 {background-position: -170px -340px;}
.countdown .clock li.days.d38 {background-position: -340px -340px;}
.countdown .clock li.days.d37 {background-position: -510px -340px;}
.countdown .clock li.days.d36 {background-position: -680px -340px;}
.countdown .clock li.days.d35 {background-position: -850px -340px;}
.countdown .clock li.days.d34 {background-position: -1020px -340px;}
.countdown .clock li.days.d33 {background-position: -1190px -340px;}
.countdown .clock li.days.d32 {background-position: -1360px -340px;}
.countdown .clock li.days.d31 {background-position: -1530px -340px;}

.countdown .clock li.days.d30 {background-position: 0px -510px;}
.countdown .clock li.days.d29 {background-position: -170px -510px;}
.countdown .clock li.days.d28 {background-position: -340px -510px;}
.countdown .clock li.days.d27 {background-position: -510px -510px;}
.countdown .clock li.days.d26 {background-position: -680px -510px;}
.countdown .clock li.days.d25 {background-position: -850px -510px;}
.countdown .clock li.days.d24 {background-position: -1020px -510px;}
.countdown .clock li.days.d23 {background-position: -1190px -510px;}
.countdown .clock li.days.d22 {background-position: -1360px -510px;}
.countdown .clock li.days.d21 {background-position: -1530px -510px;}

.countdown .clock li.days.d20 {background-position: 0px -680px;}
.countdown .clock li.days.d19 {background-position: -170px -680px;}
.countdown .clock li.days.d18 {background-position: -340px -680px;}
.countdown .clock li.days.d17 {background-position: -510px -680px;}
.countdown .clock li.days.d16 {background-position: -680px -680px;}
.countdown .clock li.days.d15 {background-position: -850px -680px;}
.countdown .clock li.days.d14 {background-position: -1020px -680px;}
.countdown .clock li.days.d13 {background-position: -1190px -680px;}
.countdown .clock li.days.d12 {background-position: -1360px -680px;}
.countdown .clock li.days.d11 {background-position: -1530px -680px;}

.countdown .clock li.days.d10 {background-position: 0px -850px;}
.countdown .clock li.days.d9 {background-position: -170px -850px;}
.countdown .clock li.days.d8 {background-position: -340px -850px;}
.countdown .clock li.days.d7 {background-position: -510px -850px;}
.countdown .clock li.days.d6 {background-position: -680px -850px;}
.countdown .clock li.days.d5 {background-position: -850px -850px;}
.countdown .clock li.days.d4 {background-position: -1020px -850px;}
.countdown .clock li.days.d3 {background-position: -1190px -850px;}
.countdown .clock li.days.d2 {background-position: -1360px -850px;}
.countdown .clock li.days.d1 {background-position: -1530px -850px;
	
}

.countdown .clock li.days.d0 {background-position: 0px 0px;}

.countdown .clock li.days .desc { background: url(../img/clock-desc-d.png) no-repeat bottom center; }
.countdown .clock li.hours .desc { background: url(../img/clock-desc-h.png) no-repeat bottom center; }
.countdown .clock li.minutes .desc { background: url(../img/clock-desc-m.png) no-repeat bottom center; }
.countdown .clock li.seconds .desc { background: url(../img/clock-desc-s.png) no-repeat bottom center; }

/* 2 - CONTENT STYLING */

.paragraph {
	width: 960px;
	margin: 0 auto;
	padding: 60px 0 30px 0;
	text-align: center;
}

.paragraph h1 {
	font-size: 26px;
	font-style: normal;
	text-shadow: #fff 0px 1px 0px;
	line-height: 1.4em;
	margin: 0 0 30px 0;
}

.paragraph h1 strong {
	font-weight: bold;
}

.paragraph p {
    font-size: 16px;
    font-weight: normal;
    line-height: 23px;
	padding: 0 0 30px 0;
	text-align: left;
	width: 700px;
	margin: 0 auto;
}

.newsletter {
	margin: 0 auto 80px;
	text-align: center;
}

.newsletter .feedback {
	width: 50px;
	height: 50px;
	display: inline-block;
	vertical-align: bottom;
	right: -52px;
	position: relative;
}

.newsletter input.email {
	width: 390px;
	border-top-left-radius: 25px;
	-moz-border-top-left-radius: 25px;
	-webkit-border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
	-moz-border-bottom-left-radius: 25px;
	-webkit-border-bottom-left-radius: 25px;
	background: #fff;
	height: 40px;
	border: 5px solid #eff0ef;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 22px;
	color: #868686;
	font-style: italic;
	margin: 0 5px 0 0; padding: 0;
}

.newsletter input.submit {
	font-family: "BebasNeueRegular", Arial, Helvetica, sans-serif;
	font-size: 22px;
	background: url(../img/submit-bg-green.png) no-repeat top;
	background-position: 0 -10px;
	height: 50px;
	border-top-right-radius: 25px;
	-moz-border-top-right-radius: 25px;
	-webkit-border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
	-moz-border-bottom-right-radius: 25px;
	-webkit-border-bottom-right-radius: 25px;
	border: 5px solid #eff0ef;
	color: #fff;
	width: 125px;
	margin: 0; padding: 0;
	outline: none;
}

.newsletter input.submit:hover {
	background: url(../img/submit-bg-green.png) no-repeat bottom;
	cursor: pointer;
	outline: none;
}

.newsletter.black input.submit {background: url(../img/submit-bg-black.png) no-repeat top;}
.newsletter.blue input.submit {background: url(../img/submit-bg-blue.png) no-repeat top;}
.newsletter.green input.submit {background: url(../img/submit-bg-green.png) no-repeat top;}
.newsletter.grey input.submit {background: url(../img/submit-bg-grey.png) no-repeat top;}
.newsletter.navyblue input.submit {background: url(../img/submit-bg-navyblue.png) no-repeat top;}
.newsletter.orange input.submit {background: url(../img/submit-bg-orange.png) no-repeat top;}
.newsletter.purple input.submit {background: url(../img/submit-bg-purple.png) no-repeat top;}
.newsletter.red input.submit {background: url(../img/submit-bg-red.png) no-repeat top;}
.newsletter.yellow input.submit {background: url(../img/submit-bg-yellow.png) no-repeat top;}

.newsletter.black input.submit:hover {background: url(../img/submit-bg-black.png) no-repeat bottom;}
.newsletter.blue input.submit:hover {background: url(../img/submit-bg-blue.png) no-repeat bottom;}
.newsletter.green input.submit:hover {background: url(../img/submit-bg-green.png) no-repeat bottom;}
.newsletter.grey input.submit:hover {background: url(../img/submit-bg-grey.png) no-repeat bottom;}
.newsletter.navyblue input.submit:hover {background: url(../img/submit-bg-navyblue.png) no-repeat bottom;}
.newsletter.orange input.submit:hover {background: url(../img/submit-bg-orange.png) no-repeat bottom;}
.newsletter.purple input.submit:hover {background: url(../img/submit-bg-purple.png) no-repeat bottom;}
.newsletter.red input.submit:hover {background: url(../img/submit-bg-red.png) no-repeat bottom;}
.newsletter.yellow input.submit:hover {background: url(../img/submit-bg-yellow.png) no-repeat bottom;}

.newsletter input.submit:active,
.newsletter.black input.submit:active,
.newsletter.blue input.submit:active,
.newsletter.green input.submit:active,
.newsletter.grey input.submit:active,
.newsletter.navyblue input.submit:active,
.newsletter.orange input.submit:active,
.newsletter.purple input.submit:active,
.newsletter.red input.submit:active,
.newsletter.yellow input.submit:active
 {
	outline: none;
	background-position: 0 -50px;
}

input.email::-moz-focus-inner,
input.submit::-moz-focus-inner {
	border-color: transparent;
}

/* 3 - FOOTER */

.footer {width: 700px; position: absolute; color: #707071;}
.footer li. {width: 700px;float: left;margin: 0 60px 0 0; text-align: center;}

.footer h4 {font-weight: bold;color: #4f4f4f;margin: 0 0 25px 0;font-size: 130%;}

.footer .contact .details {padding: 0px 0 0 0;}
.footer .contact .details li {line-height: 22px;}

/* 4 - CONTACT US FORM */

#contactus {color: #000; background: url(../img/page-bg.jpg) repeat !important;}
#contactus p.intro {margin: 0 auto 25px; font-size: 13px; color: #444; line-height: 21px; background: url(../img/envelope.png) no-repeat top center; height: 50px; width: 50px;}
#contactus p.intro a {color: #444;}
#contactus input {
	width: 400px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	background: #fff;
	height: 40px;
	border: 5px solid #eff0ef;
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	font-size: 18px;
	color: #868686;
	font-style: italic;
	margin: 0 5px 0 0; padding: 0;
	}
#contactus textarea {width:370px;height:150px;padding: 15px; margin: 0 0 15px 0; -moz-border-radius: 25px;background:url(../img/form_bg.png) repeat-x scroll left top #FFFFFF;	border: 5px solid #eff0ef;color:#595959; font-size: 17px; font-family: "Times New Roman", Times, serif;}
#contactus_fields {font-family: "Times New Roman", Times, serif; font-size: 16px; font-style: italic; line-height: 21px; color: #868687;}
#contactus_fields li {padding: 0 0 5px 0; text-align: center;}
#contactus_fields li label {font-size: 18px; padding: 0 0 12px 0; display: block;}
#contactus_fields li.border {border-bottom: 1px dotted #ccc; color: #666666; font-size: 20px; padding: 0 0 15px 0; margin: 0 0 15px 0;}
#contactus_fields .submit-contactus {
	font-family: "BebasNeueRegular", Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-style: normal;
	background: url(../img/submit-bg-green.png) no-repeat top;
	background-position: 0 -10px;
	height: 50px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border: 5px solid #eff0ef;
	color: #fff;
	width: 125px;
	margin: 0 auto; padding: 0;
	outline: none;
}

#contactus_fields .submit-contactus:hover {background: url(../img/submit-bg-green.png) no-repeat bottom;cursor: pointer;outline: none;}
input.submit-contactus::-moz-focus-inner {border-color: transparent;}

#contactus.black .submit-contactus {background:url(../img/submit-bg-black.png) no-repeat top;}
#contactus.blue .submit-contactus {background:url(../img/submit-bg-blue.png) no-repeat top;}
#contactus.green .submit-contactus {background:url(../img/submit-bg-green.png) no-repeat top;}
#contactus.grey .submit-contactus {background:url(../img/submit-bg-grey.png) no-repeat top;}
#contactus.navyblue .submit-contactus {background:url(../img/submit-bg-navyblue.png) no-repeat top;}
#contactus.orange .submit-contactus {background:url(../img/submit-bg-orange.png) no-repeat top;}
#contactus.purple .submit-contactus {background:url(../img/submit-bg-purple.png) no-repeat top;}
#contactus.red .submit-contactus {background:url(../img/submit-bg-red.png) no-repeat top;}
#contactus.yellow .submit-contactus {background:url(../img/submit-bg-yellow.png) no-repeat top;}

#contactus.black .submit-contactus:hover {background:url(../img/submit-bg-black.png) no-repeat bottom;}
#contactus.blue .submit-contactus:hover {background:url(../img/submit-bg-blue.png) no-repeat bottom;}
#contactus.green .submit-contactus:hover {background:url(../img/submit-bg-green.png) no-repeat bottom;}
#contactus.grey .submit-contactus:hover {background:url(../img/submit-bg-grey.png) no-repeat bottom;}
#contactus.navyblue .submit-contactus:hover {background:url(../img/submit-bg-navyblue.png) no-repeat bottom;}
#contactus.orange .submit-contactus:hover {background:url(../img/submit-bg-orange.png) no-repeat bottom;}
#contactus.purple .submit-contactus:hover {background:url(../img/submit-bg-purple.png) no-repeat bottom;}
#contactus.red .submit-contactus:hover {background:url(../img/submit-bg-red.png) no-repeat bottom;}
#contactus.yellow .submit-contactus:hover {background:url(../img/submit-bg-yellow.png) no-repeat bottom;}

#contactus_fields .submit-contactus:active,#contactus.blue .submit-contactus:active {outline: none;background-position: 0 -50px;}
#confirmation h3 {font-size: 24px; font-style: italic; margin: 40px 0 10px 92px;}
#confirmation p {margin: 0 0 0 92px; color: #444444; font-size: 16px; line-height: 24px;}

/* ERROR MESSAGES */
.contactUsForm span {display:none; font-size:12px; line-height:10px; padding-left:20px; color:#ff0000;}
.signup_error {display: none; text-align: center;}

/* 5 - RESPONSIVE LAYOUTS */

@media screen and (max-width: 980px) {
	.header .logo {	width: 960px;}
	.countdown .clock {	width: 960px;}
	.paragraph { width: 960px;}
	.newsletter input.email {width: 390px;}
	.footer {width: 960px;}
	.footer li.twitter, .footer li.socialize, .footer li.contact {width: 260px;	margin: 0 60px 0 0;}
	.footer li.contact {margin: 0;}
}

@media screen and (max-width: 740px) {
	body { width: 100%;}
	.header .logo {	width: 700px;}
	.countdown .clock {	width: 700px;}
	.countdown .clock li.seconds { display: none;}
	.paragraph { width: 700px;}
	.newsletter input.email { width: 290px;}
	.footer { width: 700px;}
	.footer li.twitter, .footer li.socialize, .footer li.contact { width: 200px; margin: 0 50px 0 0;}
	.footer li.contact { margin: 0;}
}

@media screen and (max-width: 480px) {
	body { width: 100%;}
	.header .logo { width: 460px;}
	.countdown .clock { width: 460px;}
	.countdown .clock li.seconds, .countdown .clock li.minutes { display: none;}
	.paragraph { width: 460px;}
	.newsletter input.email { width: 180px;}
	.footer { width: 460px;}
	.footer li.twitter, .footer li.socialize, .footer li.contact { width: 130px; margin: 0 30px 0 0;}
	.footer li.contact { margin: 0;}
}