<table class = 'ResultTable' id = '<%= id %>'>
	<tr>
		<td>id</td>
			<td><p class = 'ResultidValue'><%= id %></p></td>
		</tr>
		<tr>
		<td>city</td>
			<td><p class = 'ResultlocationValue'><%= location %></p></td>
		</tr><tr>
		<tr>
			<td>date</td>
			<td><p class = 'ResultdateValue'></p><%= date %></td>
		</tr><tr>
			<td>userName</td>
			<td><p class = 'ResultuserNameValue'></p><%= userName %></td>
		</tr><tr>
			<td>password</td>
			<td><p class = 'ResultpasswordValue'></p><%= password %></td>
		</tr>
		<tr>
			<td>gender</td>
			<td><p class = 'ResultgenderValue'></p><%= isMale %></td>
		</tr>
		<tr>
			<td>content</td>
			<td><p class = 'ResultcontentValue'></p><%= content %></td>
		</tr>
		<tr>
			<td>phone</td>
			<td><p class = 'ResultphoneValue'></p><%= phone %></td>
		</tr>
		<tr>
			<td>email</td>
			<td><p class = 'ResultemailValue'></p><%= email %></td>
		</tr>
		<tr>
			<td>qq</td>
			<td><p class = 'ResultqqValue'></p><%= qq %></td>
		</tr>
		<tr>
			<td>self define</td>
			<td><p class = 'ResultselfDefinedValue'></p><%= selfDefined %></td>
		</tr>
		<tr>
			<td>price</td>
			<td><p class = 'ResultpriceValue'></p><%= price %></td>
		</tr>
		<tr>
			<td>type</td>
			<td><p class = 'ResulttypeValue'></p><%= type %></td>
	</tr>
</table>