@charset "utf-8";

@font-face {
	/* will be added after choosing a font //Lucas// */
	font-family: 'mainfont';
	src: url('../fonts/???');
} 

body {
	/* need to check how it works with Chinese Characters! //Lucas// */
	background: url(/* lalala */);
	background-color: #53a450;  
	font: .9;
	font-family: mainfont, Verdana, Sans-serif;
	opacity: 0.9;
	padding: 0px;
	line-height: 150%;
}

h1 {
	/* only for test page //Lucas// */
	font-size: 40;
	color: #ffffff;
	padding-left: 120px;
	padding-top: 200px;
}

#testpicture {
	background: url(../../global/images/lucas3.png);
	background-repeat: no-repeat;
	width: 400px;
	height: 400px;

}